<div class="bg-cover">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    钱包余额充值
  </div>
  <div id="mycontant" style="margin-top:70px">
    <p class="address-edit wallet-recharge">请输入充值金额（元）</p>
    <div class="userinfo-desc">
      金额<input type="text" class="userinfo-input" placeholder="请输入">
    </div>
    <div class="userinfo-btn">
      <button class="userinfo-buttoon">充值</button>
    </div>
  </div>
</div>
