<div class="bg-cover">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    预约成功
  </div>
  <div id="mycontant">
    <div class="appoint-success-contant">
    <div class="appoint-success-icon">
      <img src="./assets/icon/order-success.png" alt="">
    </div>
    <p>预约成功</p>
    <div>
      <span>请于2017-07-07 中午</span>
    </div>
    <div>
      <span>到北桥门诊部找陈志彬医生看诊</span>
    </div>
    <div class="appoint-success-btn">
      <button class="appoint-botton" (click)="gotoUrl()">我知道了</button>
    </div>
  </div>
  </div>
</div>
