<div class="bg-cover">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    填写身份证号码
  </div>
  <div id="mycontant" style="margin-top:70px">
    <div class="userinfo-item">
      <p>
        <span>联系手机</span>
        <span class="userinfo-import">*重要信息</span>
      </p>
      <div class="userinfo-desc userinfo-phone">
        姓名
        <input type="text" placeholder="***(请输入完整姓名)" class="userinfo-input">
      </div>
      <div class="userinfo-desc userinfo-phone">
        证件类型
        <span>身份证</span>
      </div>
      <div class="userinfo-desc">
        证件号
        <input type="text" placeholder="请输入证件号" class="userinfo-input">
      </div>
    </div>
    <div class="userinfo-btn">
      <button class="userinfo-buttoon">保存</button>
    </div>
  </div>
</div>
