<div class="me-top">依全程之家</div>
<div id="mycontant" class="mycontant">
<div class="clinic-contant">
  <div class="clinic-item" [routerLink]="['/clinic-detail']">
    <div class="clinic-icon"> <img src="" alt=""></div>
    <div class="clinic-text">
      <div class="clinic-name">北桥门诊部</div>
      <div class="clinic-position">
        <img src="./assets/icon/position.png" alt="">
        <span>漳州市芗城区青年路佳苑花园6幢12号</span>
      </div>
      <div class="clinic-position">
        <img src="./assets/icon/people.png" alt="">
        <span>陈志彬</span>
      </div>
    </div>
  </div>
  <div class="clinic-item">
    <div class="clinic-icon"> <img src="" alt=""></div>
    <div class="clinic-text">
      <div class="clinic-name">北桥门诊部</div>
      <div class="clinic-position">
        <img src="./assets/icon/position.png" alt="">
        <span>漳州市芗城区青年路佳苑花园6幢12号</span>
      </div>
      <div class="clinic-position">
        <img src="./assets/icon/people.png" alt="">
        <span>陈志彬</span>
      </div>
    </div>
  </div>
</div>
</div>
<div class="tabs">
  <div class="tabs-page">
    <span [routerLink]="['/me']" routerLinkActive="active">
            <img class="tabs-icon" src="./assets/icon/ime.png" alt="">
            <div class="tabs-text">我的</div>
          </span>
  </div>
  <div class="tabs-page">
    <span [routerLink]="['/clinic']" routerLinkActive="active">
            <img class="tabs-icon" src="./assets/icon/doctor.png" alt="">
            <div class="tabs-text">诊所</div>
          </span>
  </div>
  <div class="tabs-page">
    <span [routerLink]="['/device']" routerLinkActive="active">
          <img class="tabs-icon" src="./assets/icon/idevice.png" alt="">
          <div class="tabs-text">设备</div>
          </span>
  </div>
  <div class="tabs-page">
    <span [routerLink]="['/more']" routerLinkActive="active">
          <img class="tabs-icon" src="./assets/icon/ifamily.png" alt="">
          <div class="tabs-text">更多</div>
          </span>
  </div>
</div>
