<div class="bg-cover">
    <div class="me-top">
        <div class="return" (click)="gotoback()">
          <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
          <span class="return-text">返回</span>
        </div>
        填写手机号码
      </div>
      <div id="mycontant" style="margin-top:70px">
        <div class="userinfo-item">
           <p>
             <span>联系手机</span>
             <span class="userinfo-import">*重要信息</span>
           </p>
           <div class="userinfo-desc userinfo-phone">
             号码
              <input type="text" placeholder="填写手机号" class="userinfo-input">
           </div>
           <div class="userinfo-desc userinfo-code">
              验证码
               <input type="text" placeholder="填写验证码" class="userinfo-input">
                <span class="code-btn">获取验证码</span>
            </div>
        </div>
        <div class="userinfo-btn">
          <button class="userinfo-buttoon">保存</button>
        </div>
      </div>
    </div>
