<div class="bg-cover">
    <div class="me-top">
        <div class="return" (click)="gotoback()">
          <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
          <span class="return-text">返回</span>
        </div>
        我的联系方式
      </div>
      <div id="mycontant" style="margin-top:70px">
        <div class="userinfo-item">
           <p>
             <span>真实姓名</span>
             <span class="userinfo-import">*重要信息</span>
           </p>
           <div class="userinfo-desc">
             姓名
              <input type="text" placeholder="填写姓名" class="userinfo-input">
           </div>
        </div>
        <div class="userinfo-btn">
          <button class="userinfo-buttoon">保存</button>
        </div>
      </div>
    </div>
