<div class="">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    交易明细
  </div>
  <div id="mycontant">
    <div class="detail_item">
      <div class="detail_left">
        <div class="detail_original">钱包账户</div>
        <div class="detail_time">2017/07/01 10：10：00</div>
      </div>
      <div class="detail_right">
        + 10
      </div>
    </div>
    <div class="load-more">没有更多了....</div>
  </div>
</div>
