<div class="bg-cover">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    医生简介
  </div>
  <div id="mycontant">
    <img src="./assets/icon/me.png" class="doctor-img" alt="">
    <div class="doctor-contant">
      <div class="doctor-item">
        <p>姓名</p>
        <span>简介：</span><span>毕业于北京中医药大学，2003年取得中国全科医学证书，从事中西医结合儿科、内科工作二十年，为提高业务水平和临床医学知识，曾多次前往漳州市医院、解放军第一七五医院进修学习，也经常与基层同行交流学习。</span>
      </div>
    </div>
  </div>
</div>
