<div class="bg-cover">
  <div class="me-top">
    <div class="return" (click)="gotoback()">
      <img src="./assets/icon/arrow-left.png" class="arrow-left" alt="">
      <span class="return-text">返回</span>
    </div>
    我的预约
  </div>
  <div id="mycontant" style="margin-top:70px">
    <div class="myappoing-contant">
      <div class="myappoing-item">
        <div class="myappoint-icon">
          <img src="./assets/icon/预约彩.png" alt="">
        </div>
        <div class="myappoint-desc">
          <div> 2017-06-28 星期三 上午</div>
          <div>北桥门诊部 10：00</div>
        </div>
        <div class="myappoint-num">
          <span>待就诊</span> 10号
        </div>
      </div>
      <div class="myappoint-cancel">取消预约</div>
    </div>
    <div class="myappoing-contant">
      <div class="myappoing-item">
        <div class="myappoint-icon">
          <img src="./assets/icon/预约灰.png" alt="">
        </div>
        <div class="myappoint-desc">
          <div> 2017-06-28 星期三 上午</div>
          <div>北桥门诊部 10：00</div>
        </div>
        <div class="myappoint-num myappoint-color">
          <span>已过期</span> 10号
        </div>
      </div>
    </div>
    <div class="load-more">没有更多了....</div>
  </div>
</div>
